#HeaderBar
{
  border: 0;
  border-radius: 0;
  background-color: #329DD5;
  height: 10rem;
  margin-bottom: 0px;
  margin-left: -3rem;
}

#BrandIcon
{
  height: 6rem;
  width: 23rem;
}

#BrandText
{
  color: white;
  padding-left: 1rem;
}

p{
  color:white;
  font-size:12px;
  padding-top:0.5rem;
}

//проверить выравнивание
.horizontal{
  align:center;
}

ul .horizontal li{
  display:inline-block;
  margin:0.3rem;
}


.border {
  padding-left:2rem;
  padding-right:2rem;
  padding-bottom: 0.5rem;
  padding-top:0.5rem;
  border: 0.1rem solid white;
  background-color:orange;
  width:100% !important;
  color:white;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left:0;
  margin-left:0;

}

@media  screen and(max-width: 1000px) {
  .flex-container{
  }
}


@media screen and (max-width: 767px)
{
 ul .horizontal li{
    width:90%;
  }

}




