#Middle{
  background-image: url("/images/main-poster.jpg");
  background-size: cover;
  min-height: 40rem;
}

.centered{
  text-align:center;
}

.centered h1{
  margin:5rem;
}

.bt-margin{
  padding-top:2rem;
}

.btn-width {
  width:100% !important;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:2rem ;
}

.flex-element{
  width:15rem;
  margin: 1rem;
}

@media screen and (max-width: 560px) {
  .flex-element{
    width:90%;
  }

  .flex-container{
    margin:0;
  }

  .bt-margin{
    margin-top:0;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -65px;
  }
}

h1, p, h3{
  color:white !important;
}

h3{
  padding-top:3rem;
  font-size:2rem;
}

h1{
  padding-top:5rem;
}